* {
  box-sizing: border-box;
}

:root {
  --bg-color: rgba(150, 150, 150, 1);

  /* Numbers define values that will be used throughout the CSS.
  --tile-size: 20px for example will set size of the grid squares. */
  --cols: 50;
  --rows: 20;
  --tile-size: 25px;
  --border-width: 1px;
}

.App {
  background-color: #202124;
  min-height: 100vh;
  /* text-align: center; */

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #c1c3c9;
}

.Navbar {
  background: #385dc4;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  padding: 0.2rem calc((100vw - 1000px) / 2);
}

.App-header {
  text-align: center;
  margin: auto;
  display: grid;
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--tile-size));
  gap: 1px;
  align-self: flex-start;
  justify-content: center;
}

.node {
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(179, 158, 181);
  /* display: inline-block; */
}